{{extend 'layout.html'}}

<h1>My title</h1>

{{if len(shops) > 0:}}
  {{for shop_id, shop in shops.items():}}
    <div class="mylist">
      <span class="shoptitle">{{=icon_shop}}
        {{=A(shop['name'], _href=URL('default', 'store', args=[shop_id]) )}}</span>
      <ul class="shoplist">
        {{for ingr in shop['ingredients']:}}
          <li>{{=ingr}}</li>
        {{pass}}
      </ul>
    </div>
  {{pass}}
{{else:}}
<div class="noresults">You are all done with your shopping!</div>
{{pass}}